babel==2.17.0
backrefs==5.9
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
docutils==0.21.2
dunamai==1.25.0
funcy==2.0
ghp-import==2.1.0
h11==0.16.0
idna==3.10
jaraco.context==6.0.1
Jinja2==3.1.6
loguru==0.7.3
Markdown==3.8.2
MarkupSafe==3.0.2
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mkdocs-material==9.6.15
mkdocs-material-extensions==1.3.1
mkdocs-section-index==0.3.10
more-itertools==10.7.0
nh3==0.3.0
packaging==25.0
paginate==0.5.7
pathspec==0.12.1
platformdirs==4.3.8
plumbum==1.9.0
prompt_toolkit==3.0.51
psutil==7.0.0
ptyprocess==0.7.0
Pygments==2.19.2
pymdown-extensions==10.16
pypiserver==2.3.2
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
pyyaml_env_tag==1.1
requests==2.32.4
rfc3986==2.0.0
six==1.17.0
sniffio==1.3.1
tomli==2.2.1
typing_extensions==4.14.1
urllib3==2.5.0
watchdog==6.0.0
wcwidth==0.2.13
